.cart-contents {
  padding: 2em 28em;
  color: $light;

  h1 {
    &:first-child {
      font-size: 3em;
    }
  }
}

.basket-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5em 0;
  padding: 1.5em;
  background-color: $blue-dark;
  border-radius: 15px;
}

.product-image {
  display: flex;

  img {
    width: 14em;
  }
}

.product-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 1.5em;

  p {
    padding: 0.2em 0;

    &:first-child {
      padding-bottom: 1em;
      font-size: 1.2em;
    }
  }
}

.adjust-quanity {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2em 0;
  width: 4em;

  button {
    cursor: pointer;
    font-size: 0.8em;
    color: $light;
    background-color: transparent;
    border: none;
    transition: color 0.5s;

    &:hover {
      color: $accent-color;
    }
  }
}

.confirm-purchase {
  display: flex;
  justify-content: center;
  padding: 2em 0;
}

.purchase-btn {
  padding: 0.8em 5em;
  font-size: 2em;
  text-transform: uppercase;
}
