body {
  margin: 0;
  font-family: 'Archivo', sans-serif;
  background-color: $brown;
}

button {
  font-family: 'Archivo', sans-serif;
}

.pages {
  padding-top: 5.5em;
}

h1,
p {
  margin: 0;
}

a {
  text-decoration: none;
}