@media (max-width: 1800px) {
  .cart-contents {
    padding: 2em 20em;
  }
}

@media (max-width: 1350px) {
  .cart-contents {
    padding: 2em 8em;
  }
}

@media (min-width: 1200px) {
  .bm-icon {
    display: none;
  }
}

@media (max-width: 1200px) {
  .left-links a,
  .search {
    display: none;
  }

  .message {
    width: 36em;
  }

  .promo-number {
    h1 {
      font-size: 4em;

      &:first-child {
        font-size: 10em;
      }
    }
  }

  .text {
    h1 {
      font-size: 2em;
    }
  }

  .display-product {
    width: 22em;
    height: 20em;
  }
}

@media (max-width: 950px) {
  .homepage-content {
    flex-direction: column;
  }

  .cart-contents {
    padding: 2em 2em;
  }
}

@media (max-width: 700px) {
  .bm-menu {
    width: 20em
  }

  .bm-item {
    font-size: 2em;
  }

  .burger-search {
    font-size: 0.8em;

    input {
      font-size: 1.3em;
    }
  }

  .message {
    width: 28em;
  }

  .promo-number {
    h1 {
      font-size: 2em;

      &:first-child {
        font-size: 6em;
      }
    }
  }

  .text {
    h1 {
      font-size: 1.5em;
    }
  }

  .cart-contents {
    padding: 2em 1em;

    h1 {
      &:first-child {
        font-size: 2em;
      }
    }
  }

  .product-image {
    img {
      width: 10em;
    }
  }

  .product-info {
    font-size: 1em;
  }

  .purchase-btn {
    padding: 0.8em 3em;
    font-size: 1.5em;
  }
}

@media (max-width: 500px) {
  .navbar {
    height: 3em;
  }

  .bm-burger-button {
    width: 1.5em;
    height: 1.5em;
    top: 1.8em;
  }

  .bm-menu {
    width: 15em
  }

  .bm-item {
    font-size: 1.5em;
  }

  .burger-search {
    font-size: 0.6em;

    input {
      font-size: 1.2em;
    }
  }

  .logo {
    h1 {
      font-size: 2em;
    }
  }

  .icon-links {
    .user-icon,
    .cart-icon {
      font-size: 1.5em;
    }
  }

  .message {
    width: 18em;
  }

  .promo-number {
    h1 {
      font-size: 1.5em;

      &:first-child {
        font-size: 4em;
      }
    }
  }

  .text {
    h1 {
      font-size: 1em;
    }
  }

  .display-product {
    width: 15em;
    height: 15em;

    h1 {
      font-size: 1.5em;
    }
  }

  .basket-product {
    padding: 1em 1em;
  }

  .product-image {
    img {
      width: 7em;
    }
  }

  .product-info {
    font-size: 0.8em;
  }

  .confirm-purchase {
    padding: 1em 0;
  }

  .purchase-btn {
    font-size: 1em;
  }
}

@media (max-width: 350px) {
  .bm-menu {
    width: 12em
  }

  .bm-item {
    font-size: 1.2em;
  }

  .burger-search {
    font-size: 0.5em;

    input {
      font-size: 1.1em;
    }
  }

  .icon-links {
    a {
      &:first-child {
        display: none;
      }
    }
  }

  .display-product {
    width: 10em;
    height: 12em;
  }

  .product-image {
    img {
      width: 5.5em
    }
  }

  .product-info {
    font-size: 0.6em;
  }
}