.display-page-title {
  background-color: $blue-light;
  height: fit-content;

  h1 {
    padding: 0.4em 0.8em;
    text-align: end;
    font-size: 8em;
    font-weight: 600;
    color: $green;
  }
}

.product-nav-btns {
  display: flex;
  align-items: center;
  padding: 3em 2em;

  button {
    margin: 0 1em;
    padding: 0.5em 1.5em;
    font-size: 1.5em;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 5em;
}

.product {
  padding: 0 1em 2em;

  p {
    font-size: 2em;
    color: $light;
  }
}

.product-img {
  position: relative;
  padding-bottom: 1em;

  img {
    width: 30em;
    transition: width 0.3s;

    &:hover {
      width: 32em;
    }
  }
}

.sale {
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: $light;

  p {
    padding: 0.2em 0.5em;
    font-weight: 900;
    color: $accent-color;
  }
}